.card-form {
  width: 500px;
  height: auto;
}

.user-data {
  margin-bottom: 20px;
}

.user__label {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #003867;
}

.user__input {
  width: 100%;
  height: 32px;
  font-size: 18px;
  padding: 4px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
}

.user__btn {
  width: 150px;
  height: 32px;
  font-size: 18px;

  border: none;
  float: right;
  background: #0089ff;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
  cursor: pointer;
}
.user__btn:focus {
  border: none;
}
