.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 5;
}

.modal__content {
  width: 500px;
  height: auto;
  position: absolute;
  z-index: 15;
}

.modal__overlay {
  top: 0;
  background: #5151514d;
  position: absolute;
  z-index: 10;
}
